In [1]:
import pandas as pd
import numpy as np
import os

os.chdir(r'C:\Programming\Github\EGCN\data')
os.getcwd()

'C:\\Programming\\Github\\EGCN\\data'

In [2]:
df = pd.read_csv('hlg.csv')
df

                           smiles  band_gap
0               CC1OC(=N)C(C)=C1N    0.2105
1                   C1C2OC3C1OC23    0.3127
2                CCC1C2C3C1C2C3=O    0.2482
3                OC(C#C)C1C2CC1C2    0.2932
4             Cc1cc(c([nH]1)N)C=O    0.1794
...                           ...       ...
133880             COC1=NNC=CC1=N    0.1822
133881  CN(CC([O-])=O)C(N)=[NH2+]    0.2555
133882          C1C(CN1C(=O)N)C#N    0.2685
133883           CC1NC1C(=O)N1CC1    0.2418
133884           CC(O)C1CC(C1)=NO    0.2488

[133885 rows x 2 columns]

In [3]:
# 2000개 행만 랜덤 추출
df_reduced = df.iloc[np.random.randint(0, len(df), 2000)].reset_index(drop=True)
df_reduced

                    smiles  band_gap
0         CC1(COC(=O)N1C)C    0.3018
1     NC(=O)C12C3C4C3N1C24    0.2335
2         CCC12CC(C1)OC2=N    0.2861
3         O=CC1N2CC2C11CO1    0.2096
4             C(CCOCC#N)CO    0.2824
...                    ...       ...
1995       CC1C2CC1(C)CC2C    0.3602
1996       CC(C)(CC=O)CC=O    0.2064
1997         C(=O)C(F)(F)F    0.2243
1998      N#CC1CC2CC(C2)C1    0.3333
1999           CCCC1CNC1=O    0.2803

[2000 rows x 2 columns]

In [4]:
# 저장
df_reduced.to_csv('hlg_reduced.csv', index = False)